
.Search_google{
    width: 500px;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    border-style: none;
    border-width: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-family: Arial;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;

}

.google{
    width: 300px;
    height: 100px;
    
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15px;
    margin-bottom: 5px;

}
.buttons{

    margin-top: 25px;

    
}
.Google_search{
    text-align: center;
    margin-left: 34%;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 2px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-right: 5px;
    
}
.Feeling_Lucky{
    text-align: center;
    border-style: none;
    font-style: popp;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-radius: 2px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 5px;
    
}