p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.grid{
    grid-template-columns: 200px 200px 200px;
    display: grid;
    column-gap: 20px;
}
.profile{
    width: 200px;
    box-shadow:  0 0 5px rgba(0,0,0,0.3);
    vertical-align: top;
    margin-right: 15px;

}
.profile_pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;

}

.name{
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 10px;
}

.mutual_friends_row{
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 10px;
}

.mutual_pic{
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 14px;
    vertical-align: middle;
    margin-right: 4px;

}

.mutual_friends{
    color: rgb(100,100,100);
}

.button{
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
}



















